<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vsc.guest_assurance.dao.PrivilegesMapper">
    <resultMap id="BaseResultMap" type="com.vsc.guest_assurance.entity.Privileges">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="NVARCHAR"/>
        <result column="genre" property="genre" jdbcType="NVARCHAR"/>
        <result column="name" property="name" jdbcType="NVARCHAR"/>
        <result column="url_pattern" property="urlPattern" jdbcType="NVARCHAR"/>
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP"/>
        <result column="create_user" property="createUser" jdbcType="INTEGER"/>
        <result column="update_at" property="updateAt" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="INTEGER"/>
        <result column="genre_id" property="genreId" jdbcType="INTEGER"/>
        <result column="name_id" property="nameId" jdbcType="INTEGER"/>
        <result column="button_type" property="buttonType" jdbcType="INTEGER"/>
        <result column="button_name" property="buttonName" jdbcType="NVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, type, genre, name, url_pattern, create_at, create_user, update_at, update_user,
    genre_id, name_id, button_type, button_name
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from privileges
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from privileges
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.vsc.guest_assurance.entity.Privileges">
        insert into privileges (id, type, genre,
                                name, url_pattern, create_at,
                                create_user, update_at, update_user,
                                genre_id, name_id, button_type,
                                button_name)
        values (#{id,jdbcType=INTEGER}, #{type,jdbcType=NVARCHAR}, #{genre,jdbcType=NVARCHAR},
                #{name,jdbcType=NVARCHAR}, #{urlPattern,jdbcType=NVARCHAR}, #{createAt,jdbcType=TIMESTAMP},
                #{createUser,jdbcType=INTEGER}, #{updateAt,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER},
                #{genreId,jdbcType=INTEGER}, #{nameId,jdbcType=INTEGER}, #{buttonType,jdbcType=INTEGER},
                #{buttonName,jdbcType=NVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.vsc.guest_assurance.entity.Privileges">
        insert into privileges
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="genre != null">
                genre,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="urlPattern != null">
                url_pattern,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateAt != null">
                update_at,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="genreId != null">
                genre_id,
            </if>
            <if test="nameId != null">
                name_id,
            </if>
            <if test="buttonType != null">
                button_type,
            </if>
            <if test="buttonName != null">
                button_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=NVARCHAR},
            </if>
            <if test="genre != null">
                #{genre,jdbcType=NVARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=NVARCHAR},
            </if>
            <if test="urlPattern != null">
                #{urlPattern,jdbcType=NVARCHAR},
            </if>
            <if test="createAt != null">
                #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=INTEGER},
            </if>
            <if test="updateAt != null">
                #{updateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=INTEGER},
            </if>
            <if test="genreId != null">
                #{genreId,jdbcType=INTEGER},
            </if>
            <if test="nameId != null">
                #{nameId,jdbcType=INTEGER},
            </if>
            <if test="buttonType != null">
                #{buttonType,jdbcType=INTEGER},
            </if>
            <if test="buttonName != null">
                #{buttonName,jdbcType=NVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.vsc.guest_assurance.entity.Privileges">
        update privileges
        <set>
            <if test="type != null">
                type = #{type,jdbcType=NVARCHAR},
            </if>
            <if test="genre != null">
                genre = #{genre,jdbcType=NVARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=NVARCHAR},
            </if>
            <if test="urlPattern != null">
                url_pattern = #{urlPattern,jdbcType=NVARCHAR},
            </if>
            <if test="createAt != null">
                create_at = #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=INTEGER},
            </if>
            <if test="updateAt != null">
                update_at = #{updateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=INTEGER},
            </if>
            <if test="genreId != null">
                genre_id = #{genreId,jdbcType=INTEGER},
            </if>
            <if test="nameId != null">
                name_id = #{nameId,jdbcType=INTEGER},
            </if>
            <if test="buttonType != null">
                button_type = #{buttonType,jdbcType=INTEGER},
            </if>
            <if test="buttonName != null">
                button_name = #{buttonName,jdbcType=NVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.vsc.guest_assurance.entity.Privileges">
        update privileges
        set type        = #{type,jdbcType=NVARCHAR},
            genre       = #{genre,jdbcType=NVARCHAR},
            name        = #{name,jdbcType=NVARCHAR},
            url_pattern = #{urlPattern,jdbcType=NVARCHAR},
            create_at   = #{createAt,jdbcType=TIMESTAMP},
            create_user = #{createUser,jdbcType=INTEGER},
            update_at   = #{updateAt,jdbcType=TIMESTAMP},
            update_user = #{updateUser,jdbcType=INTEGER},
            genre_id    = #{genreId,jdbcType=INTEGER},
            name_id     = #{nameId,jdbcType=INTEGER},
            button_type = #{buttonType,jdbcType=INTEGER},
            button_name = #{buttonName,jdbcType=NVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectPrivileges" resultType="com.vsc.guest_assurance.vo.backend.BPrivilegeVo">
        select id, type, genre_id as genreId, genre, name_id as nameId, name, button_type as buttonType, button_name as
        buttonName
        from privileges where 1 = 1
        and type = #{type,jdbcType=NVARCHAR}
        <if test="privilegeIds != 'all'">
            and id in
            <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
                #{item,jdbcType=INTEGER}
            </foreach>
        </if>
    </select>
</mapper>