<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vsc.guest_assurance.dao.ThumbsUpHistoryMapper">
    <resultMap id="BaseResultMap" type="com.vsc.guest_assurance.entity.ThumbsUpHistory">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="store_id" property="storeId" jdbcType="INTEGER"/>
        <result column="thumbs_up_point" property="thumbsUpPoint" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, store_id, thumbs_up_point, create_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from thumbs_up_history
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from thumbs_up_history
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.vsc.guest_assurance.entity.ThumbsUpHistory">
        insert into thumbs_up_history (store_id, thumbs_up_point,
                                       create_time)
        values (#{storeId,jdbcType=INTEGER}, #{thumbsUpPoint,jdbcType=INTEGER},
                #{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.vsc.guest_assurance.entity.ThumbsUpHistory">
        insert into thumbs_up_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="storeId != null">
                store_id,
            </if>
            <if test="thumbsUpPoint != null">
                thumbs_up_point,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="storeId != null">
                #{storeId,jdbcType=INTEGER},
            </if>
            <if test="thumbsUpPoint != null">
                #{thumbsUpPoint,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.vsc.guest_assurance.entity.ThumbsUpHistory">
        update thumbs_up_history
        <set>
            <if test="storeId != null">
                store_id = #{storeId,jdbcType=INTEGER},
            </if>
            <if test="thumbsUpPoint != null">
                thumbs_up_point = #{thumbsUpPoint,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.vsc.guest_assurance.entity.ThumbsUpHistory">
        update thumbs_up_history
        set store_id        = #{storeId,jdbcType=INTEGER},
            thumbs_up_point = #{thumbsUpPoint,jdbcType=INTEGER},
            create_time     = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>